#banner
  .banner_content
    %h1 Perruci
    %p Sorvetes Artesanais    

#testimonial
  .wapper
    %p.quote "The greatest notebook application. Period"
    %p.name - Malcon Moura de Lima

#callouts
  .callouts_inner
    .wrapper
      .callout
        %i.fa.fa-btc
        %h2 Bitcoin
        %p Cevadis im ampola pa arma uma pindureta. Delegadis gente finis, bibendum egestas augue arcu ut est. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
      .callout
        %i.fa.fa-phone
        %h2 Contato
        %p Cevadis im ampola pa arma uma pindureta. Delegadis gente finis, bibendum egestas augue arcu ut est. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
      .callout
        %i.fa.fa-info
        %h2 Informações
        %p Produzimos e entregamos sorvete artesanal em domicílio na cidade de João Pessoa - PB

#bottom_cta
  .wrapper
    %h2 Sorvete Perruci
    %p Produzimos e entregamos sorvete artesanal em domicílio na cidade de João Pessoa - PB

%footer
  %p &copy; Malsay
